<header>
  <h1><a href="http://localhost:3000/posts">News from Bruce</a></h1>
  <nav>
    <ul class="nav_links">
      <%= link_to '<li>General</li>'.html_safe, category_posts_path(category_handle: 'general'), {:style=>'color:#FFF;'} %>
      <%= link_to '<li>Sport</li>'.html_safe, category_posts_path(category_handle: 'sport'), {:style=>'color:#FFF;'} %>
      <%= link_to '<li>Movies</li>'.html_safe, category_posts_path(category_handle: 'movies'), {:style=>'color:#FFF;'} %>
      <%= link_to '<li>Games</li>'.html_safe, category_posts_path(category_handle: 'games'), {:style=>'color:#FFF;'} %>
      <%= link_to '<li>Science</li>'.html_safe, category_posts_path(category_handle: 'science'), {:style=>'color:#FFF;'} %>
    </ul>
  </nav>
  <% if user_signed_in? %>
    <ul class="links">
      <li>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, style: {color: white}%>
    </ul>
  <% else %>
    <ul class="links">
      <li><a href="<%= new_user_session_path %>">Login</a></li>
      <li><a href="<%= new_user_registration_path %>">Sing up</a></li>
    </ul>
  <% end %>
</header>
<body>
  <div class="container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</body>