<header>
  <h1><a href="http://localhost:3000/posts">News from Bruce</a></h1>
  <nav>
    <ul class="nav_links">
      <% @categories = Category.all %>
      <% @categories.each do |cat| %>
        <li><%= link_to cat.name, category_posts_path(category_handle: cat.handle), {:style=>'color:#FFF;'}%></li>
      <% end %>
    </ul>
  </nav>
  <% if user_signed_in? %>
    <ul class="links">
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, style: {color: white}%></li>
    </ul>
  <% else %>
    <ul class="links">
      <li><a href="<%= new_user_session_path %>">Login</a></li>
      <li><a href="<%= new_user_registration_path %>">Sing up</a></li>
    </ul>
  <% end %>
</header>
<body>
  <div class="container">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</body>
