
  <%= form_for @post do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>
    <div class="form-group">
      <%= f.label :category_id %>
      <%= f.text_field :category_id %>
    </div>
    <%= f.submit%>
  <% end %>

