<header>
  <h1><a href="http://localhost:3000/posts">News from Bruce</a></h1>
  <nav>
    <ul class="nav_links">
      <% @categories.each do |cat| %>
        <li><%= link_to cat.name, category_posts_path(category_handle: cat.handle), {:style=>'color:#FFF;'}%></li>
      <% end %>
    </ul>
  </nav>
  <% if user_signed_in? %>
    <ul class="links">
      <li>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, style: {color: 'white'}%>
      </li>
    </ul>
  <% else %>
  <ul class="links">
    <li><a href="<%= new_user_session_path %>">Login</a></li>
    <li><a href="<%= new_user_registration_path %>">Sing up</a></li>
  </ul>
  <% end %>
</header>
<body>
<div>
  <% if user_signed_in? %>
    <%= link_to "Create new post", new_post_path %>
  <% end %>
</div>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post">
      <%= link_to post , {:style=>'color:#000000;'} do %>
      <h3> <%= post.title %> </h3>
        <% end %>
      <p> <%= post.text %> </p>
      <%= link_to post.category.name, category_posts_path(category_handle: post.category.handle), {:style=>'color:#403A39;'} %>
      <p> <%= post.created_at %> </p>
    </div>
  <% end %>
</div>
</body>
