<header>
  <h1><a href="http://localhost:3000/posts">News from Bruce</a></h1>
  <nav>
    <ul class="nav_links">
      <% @categories.each do |cat| %>
        <li><%= link_to cat.name, category_posts_path(category_handle: cat.handle), {:style=>'color:#FFF;'}%></li>
      <% end %>
    </ul>
  </nav>
  <% if user_signed_in? %>
    <ul class="links">
      <li>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, style: {color: 'white'}%>
    </ul>
  <% else %>
    <ul class="links">
      <li><a href="<%= new_user_session_path %>">Login</a></li>
      <li><a href="<%= new_user_registration_path %>">Sing up</a></li>
    </ul>
  <% end %>
</header>
<body>
  <div class="container">
    <h1>New Post</h1>
    <%= render partial: 'form' %>
  </div>
</body>