<header>
  <h1><a href="http://localhost:3000/posts">News from Bruce</a></h1>
  <nav>
    <ul class="nav_links">
      <% @categories.each do |cat| %>
        <li><%= link_to cat.name, category_posts_path(category_handle: cat.handle), {:style=>'color:#FFF;'}%></li>
      <% end %>
    </ul>
  </nav>
  <% if user_signed_in? %>
    <ul class="links">
      <li>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, style: {color: 'white'}%>
    </ul>
  <% else %>
    <ul class="links">
      <li><a href="<%= new_user_session_path %>">Login</a></li>
      <li><a href="<%= new_user_registration_path %>">Sing up</a></li>
    </ul>
  <% end %>
</header>
<body>
  <div class="content">
    <h1> <%= @post.title %> </h1>
    <div class="posts-container">
      <p> <%= @post.text %> </p>
    </div>
    <div class="additional">
      <p> <%= @post.category.name %> </p>
      <p> <%= @post.created_at %> </p>
    </div>
    <div class="buttons">
      <%= link_to 'Back to posts', posts_path, {:style=>'color:#000;'} %>
    </div>
    <div class="buttons">
      <%= link_to 'Edit', edit_post_path(@post.id), {:style=>'color:#000;'}   %>
    </div>
    <div class="buttons">
      <%= link_to 'Delete', post_path(@post.id), method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
  </div>
  <div class="comments">
    <div class="comment_form">
      <h5>Leave your comment here</h5>
      <%= form_with model: [@post, @comment], local: true do |f| %>
        <%= f.text_area :body %>
        <%= f.submit "Comment" %>
      <% end %>
    </div>
    <div class="comments_show">
      <% @comments.each do |comment| %>
        [<%= comment.created_at.strftime("%I:%M %p") %>] <%= comment.user.username %>: <%= comment.body %>
        <br>
      <% end %>
    </div>
  </div>

</body>