@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background: #2E2F30;
  color: white;
}

header > h1 > a
{
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.links {
  list-style: none;
}

.links li {
  display: inline-block;
  padding: 0 20px;
}

.links li a {
  transition: all 0.3s ease 0s;
  color: white;
}

.links li a:hover {
  transition: all 0.3s ease 0s;
  color: cornflowerblue;
}

.posts-container hr {
  margin: 8px 0px;
  background-color: #999999;
}


.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  color: white;
}

.nav_links li:hover {
  transition: all 0.3s ease 0s;
  color: cornflowerblue;
}

.post {
  border-left: 3px solid #2E2F30;
  padding: 10px;
  padding-left: 15px;
  //border-bottom-right-radius: 10px;
  //border-top-right-radius: 10px;
  //border-bottom-left-radius: 10px;
  margin: 10px;
  transition: all 0.3s ease 0s;
}

.posts-container > .post:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-left: 8px solid #2E2F30;
}

.comments {
  margin: 30px 20%;
}

.comment_form {
  border: 1px solid black;
  padding: 10px;
}

.comment_form h5{
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 5px;
}

.comment_form input {
  margin: auto;
  padding: 3px;
}

.comment_form textarea {
  margin: auto;
  width: 100%;
  max-width: 100%;
  resize: none;
  height: 100px;
  padding: 3px;
}

.comments_show {
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
}

