.content {
  border: 1px solid #2E2F30;
  margin: 30px 20%;
}

.content h1{
  margin: 15px;
}

.content p {
  margin: 15px;
}

.additional {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  background-color: #BBBBBB;
}

.buttons {
  display: inline-flex;
  margin: 20px 50px;
  text-decoration: none;
  color: #2E2F30;
}
.container {
  align-self: center;
  text-align: center;
  margin: 50px auto;
  border: 1px solid #BBBBBB;
  width: 55%;
  border-radius: 5px;
  padding: 30px;
  list-style: none;
}

.form-group {
  margin: 30px;
  justify-content: right;
}

.form-group label, .field label {
  display: block;
  margin: 5px 0px;
  font-size: x-large;
}

.form-group input, .field input {
  padding: 5px;
  width: 80%;
  margin: 5px 0;
}

.form-group textarea, .field textarea {
  padding: 5px;
  width: 80%;
  height: 200px;
  min-height: 200px;
  resize: vertical;
  margin: 5px 0;
}

.new_post :last-child{
  padding: 5px;
}
